$blueMain: #101e2e;
$blueMedium: #23425c;
$blueLight: #2b6386;
$blueDark:#0e1922;
$orangeMain: #e08e5e;
$orangeDark: #c97a4c;

$headerHeight: 3rem;

$sidebarWidth: 19.375em;        /* 310px */
$sidebarCollapsedWidth: 2.5em;
$sidebarItemTopBtmPadding: 1.05em;
$sidebarItemLeftRightPadding: 1em;
$sidebarIconUpDownFontSize: 0.90em;
$sidebarFlyoutItemPaddingTopBtm: 0.5em;
$sidebarFlyoutItemPaddingLeftRight: 1.0em;
$sidebarFlyoutItemIndent: 3.4em;
$sidebarFlyoutItemFontSize: 1.0em;
$sidebarFlyoutIconFontSize: 0.55em;

$navbarPaddingTopBtm: 0;
$navbarPaddingLeftRight: 1rem;
$navbarIconsRightMargin: 2.5rem;
$navbarUserProfileFontSize: 0.95rem;
$navbarUserProfilePaddingRight: 1.2rem;
$navbarUserProfileColor: $blueLight;
$navbarUserProfileFontWeight: 500;

$btnInfoBackgroundColor: $orangeMain;
$btnInfoBorderColor: $orangeDark;

$tabBorderColor: #ccc;
$tabItemMarginLeft: .3125rem;
$tabItemBorderRadius: 0.25rem;
