/* 310px */
*, :before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

a {
  color: #2b6386;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.app {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.xf-sidebar {
  position: relative;
  min-width: 19.375em;
  max-width: 19.375em;
  height: 100vh;
  overflow: hidden;
  visibility: visible;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.xf-sidebar header {
  background-color: #23425c;
  width: 100%;
  display: block;
  padding: 0.75em 1em;
  height: 3rem;
}

.xf-sidebar header h5 {
  color: #FFF;
  display: table-cell;
  vertical-align: middle;
}

.xf-sidebar-nav {
  position: fixed;
  background-color: #101e2e;
  color: #FFF;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  padding-bottom: 6em;
  overflow: hidden;
  width: 100%;
}

.xf-sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.xf-sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
}

.xf-sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
  width: 100%;
}

.xf-sidebar-nav ul li a:not([href]):not([tabindex]) {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
  width: 100%;
}

.xf-sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.xf-sidebar-nav > ul > li > a:after {
  content: '\f105';
  font-family: fontawesome;
  font-size: 0.9em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 36%;
}

.xf-sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #2b6386;
  z-index: 9;
  left: 2.0em;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* -----   LOH ------- */
.nav-flyout::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #101e2e;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: #101e2e;
}

.nav-flyout::-webkit-scrollbar {
  width: 8px;
  background-color: #101e2e;
}

.nav-flyout::-webkit-scrollbar-thumb {
  background-color: #e08e5e;
}

.xf-sidebar-nav ul.nav-flyout li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.55em;
  padding: 0.5em 1em;
  position: relative;
  display: block;
}

.xf-sidebar-nav ul.nav-flyout li a:not([href]):not([tabindex]) {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.55em;
  padding: 0.5em 1em;
  position: relative;
  display: block;
}

ul.nav-flyout li a span {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  padding: 0.5em 1em;
  position: relative;
  display: inline-block;
}

.xf-sidebar-nav ul.nav-flyout ul.submenu {
  display: none;
}

.xf-sidebar-nav ul.nav-flyout ul.submenu.open {
  display: block;
}

ul.nav-flyout li a.profile:after {
  content: '\f0da';
  font-family: fontawesome;
  font-size: 0.9em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 36%;
}

ul.nav-flyout li a.profile.special:after {
  content: '\f0d7';
  font-family: fontawesome;
  font-size: 0.9em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 36%;
}

ul > li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s 0.1s ease-in-out;
  transition: all 0.5s 0.1s ease-in-out;
}

ul > li:hover .nav-flyout li {
  opacity: 1;
  -webkit-transform: translateX(0em);
  transform: translateX(0em);
  -webkit-transition: all 0.5s 0.5s ease-in-out;
  transition: all 0.5s 0.5s ease-in-out;
}

ul.nav-flyout li a.flyout-indent {
  padding-left: 3.4em;
}

.main-content-container {
  width: 100%;
  padding: 0;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .xf-sidebar {
    min-width: 2.5em;
    max-width: 2.5em;
  }
  .xf-sidebar header h5 {
    visibility: hidden;
  }
  .xf-sidebar-nav ul li a span {
    display: none;
  }
  .xf-sidebar-nav > ul > li > a:after {
    content: '';
    font-family: fontawesome;
  }
}

.nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  height: 3rem;
  border-bottom: 1px solid #ccc;
}

.navbar-nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 2.5rem;
  list-style: none;
}

.userProfileData {
  font-size: 0.95rem;
  padding-right: 1.2rem;
  color: #2b6386;
  font-weight: 500;
}

.userProfileData span {
  padding-left: .75rem;
}

.navbar-nav-userProfile {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  list-style: none;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  /* padding-top: ($headerHeight/2); */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-info {
  color: #fff;
  background-color: #e08e5e;
  border-color: #c97a4c;
}

.fa-user {
  margin-right: 10px;
}

.fa-bars:before {
  content: "\f0c9";
  color: #e08e5e;
}

.xf-Actual-flyout:before {
  content: "\e901";
  color: #0e1922;
}

.xf-CubeView-flyout:before {
  content: "\e902";
  color: #e08e5e;
}

.xf-Dashboard-flyout:before {
  content: "\e903";
  color: #e08e5e;
}

.xf-Folder-flyout:before {
  content: "\e904";
  color: #0e1922;
}

.xf-PresProfile:before {
  content: "\e906";
  color: #0e1922;
}

.xf-TimeDim-flyout:before {
  content: "\e907";
  color: #0e1922;
}

.xf-Workflow-flyout:before {
  content: "\e908";
  color: #0e1922;
}
/*# sourceMappingURL=site.css.map */